/* ---------------------------------------------------------------------------------------------
    Global Styles
   --------------------------------------------------------------------------------------------- */

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

/* Button styles*/
button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

/* Image styles for all buttons */
button img {
    transform: scale(5);
    image-rendering: pixelated;
}

/* ---------------------------------------------------------------------------------------------
    Home Screen Styles
   --------------------------------------------------------------------------------------------- */

#home-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-image: url('assets/images/default-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    image-rendering: pixelated;
}

/* Hover state for the Play button */
#play-button:hover img {
    content: url('assets/sprites/buttons/hover/play-button-hover.png');
}

/* ---------------------------------------------------------------------------------------------
   Select Game Mode Screen Styles
   --------------------------------------------------------------------------------------------- */

#select-game-mode-screen {
    display: none;
    height: 100vh;

    background-image: url('assets/images/select-game-mode-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    image-rendering: pixelated;
}